<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  <%= myTitle %>  </title>
    <link rel="stylesheet" href="style.css">
</head>

<style>





</style>
<body>
    
    <div class="container">

        <div class="header">
            <h1>CRUD System</h1>
            <!-- <h2>What is your name ?</h2>
            <h1>My name is <span> <%# arr.at(-1).Userrr %>  %></span></h1> -->
        </div>
        
    
    

    <div class="form ">
        <form action="/" method="post">
            <label for="Userrr">Name</label>
            <input type="text" name="Userrr">
            <label for="Age">Age</label>
            <input type="text" name="Age">
            <label for="Country">Country</label>
            <input type="text" name="Country">
            <br>
            <br>
            <button>ADD to DB</button>
        </form>
    </div>



    
    
</div>
   
    
</body>
</html>
